@import "./variables.css";

body {
  color: var(--font-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary-color);
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a {
  position: absolute;
  left: 0;
  color: #fff;
  text-decoration: none;
  padding: 8px 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}